[user]
    name = Steve Qian
    email = 
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[color]
    ui = true
[color "status"]
    updated = green bold
[color "branch"]
    current = green bold
[color "interactive"]
    prompt = white cyan
[color "diff"]
    meta = cyan
    new = green bold
[alias]
    lg = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(red)- %an%C(reset)%C(bold yellow)%d%C(reset)'
    lga = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(red)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
    set-upstream = !git branch --set-upstream-to=origin/`git symbolic-ref --short HEAD`
[credential]
        helper = store
