[/]
focus-highlight-color='#eeeeee'
hotkeys-overlay-combo='TEMPORARILY'
trans-use-custom-gradient=true
dot-color-unfocused-1='#5294e2'
dot-color-unfocused-2='#5294e2'
dot-color-unfocused-3='#5294e2'
dot-color-unfocused-4='#5294e2'
trans-gradient-bottom-opacity=0.5
trans-use-dynamic-opacity=false
show-activities-button=false
group-apps=true
show-appmenu=true
intellihide=false
dot-color-1='#5294e2'
trans-gradient-top-opacity=0.20000000000000001
dot-position='BOTTOM'
dot-color-2='#5294e2'
dot-color-3='#5294e2'
dot-color-4='#5294e2'
stockgs-keep-dash=false
panel-position='BOTTOM'
panel-size=28
isolate-workspaces=false
trans-use-custom-bg=false
secondarymenu-contains-showdetails=false
trans-use-custom-opacity=false
location-clock='STATUSRIGHT'
multi-monitors=false
appicon-padding=2
taskbar-locked=true
appicon-margin=4
show-apps-icon-file=''
hot-keys=true
dot-style-unfocused='METRO'
